/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

/* Header 
header {
    background: #030b33;
    color: white;
    padding: 20px;
}

/* Navigation Bar 
nav ul {
    font-size: larger;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #04083b;
    overflow: hidden;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background: #575757;
}*

/* Hero Section */
.hero {

    background: url('https://source.unsplash.com/1600x600/?university,students') no-repeat center center/cover;
    color: rgb(12, 1, 1);
    padding: 100px 20px;
}

.hero h2 {
    margin: 0;
}
/* section styling */
section{
    margin: 2em auto;
    width: 90%;
    max-width: 700px;
    
}
/* address */
.address {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    color: blue;
}
/* contact information */
.contact-info a {
    color: #004080;
    text-decoration: none;
}
.contact-info a:hover {
    text-decoration: underline;
    color: #007BFF;
}
/* contact Form */
.contact-form form{
    display: flex;
    flex-direction: column;
    color: #007BFF;
}
.contact-form label {
    margin-top: 1em;
    font-weight: bold;
}
.contact-form input,
.contact-form textarea{
    padding: 0.5em;
    margin-top: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;

}
.contact-form button{
    margin-top: 1.5em;
    padding: 0.75em;
    background-color: #007BFF;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.contact-form button :hover{
    background-color: #575757;
}
/* responsive design */
@media ( max-width: 600px) {
    section {
        width: 95%;
    }
}

/* social links */
.social-links{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0;
    margin: 0;
}
.social-links li a img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;
}
.social-links li a:hover img {
    transform: scale(1.4);
    
}